.top-10 {
  margin-top: 10px;
}
.padding-left-0 {
  padding-left: 0px;
}
.padding-right-0 {
  padding-right: 0px;
}
.active {
  color: #51a5d4;
}
header div.top-header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0px 0px 5px 5px;
}
@media (max-width: 991px) {
  header div.top-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
header div.top-header div.logo {
  padding-top: 25px;
}
@media (max-width: 991px) {
  header div.top-header div.logo {
    padding-top: 0px;
  }
}
header div.top-header div.icon {
  color: #51a5d4;
  padding-top: 5px;
}
header div.top-header div.social div.icon {
  color: #51a5d4;
  padding-top: 0px;
  padding-bottom: 10px;
}
header div.top-header div.social div.text {
  text-transform: uppercase;
  padding-top: 5px;
}
header div.top-header ul {
  margin-bottom: 0px;
}
header div.top-header div.contact div.icon {
  color: #51a5d4;
}
header div.top-header div.contact div.text {
  font-size: 16px;
}
header div.top-header ul.menu-xs {
  color: #555;
}
header div.top-header ul.menu-xs li {
  text-align: center;
  cursor: pointer;
  width: 50px;
}
header div.top-header div.top-contact-xs {
  display: none;
}
@media (max-width: 767px) {
  header div.top-header div.top-contact-xs div.contact ul {
    text-align: center;
  }
}
