@border-color: #ccc;
@border-gray: #555;
@color-blue: #51a5d4;
@color-white: #fff;
@color-red: red;
@color-dark-blue: #286090;


.top-10{
	margin-top: 10px;
}
.padding-left-0{
	padding-left: 0px;
}

.padding-right-0{
	padding-right: 0px;
}
.active{
	color: @color-blue;
}
.icon(){
	color: @color-blue;
}


header{
	div.top-header{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
		border-bottom: 1px solid @border-color;
		border-radius: 0px 0px 5px 5px;
		@media (max-width: 991px){
			padding-top: 5px;
			padding-bottom: 5px;
		}
		div.logo{
			padding-top: 25px;
			@media (max-width: 991px){
				padding-top: 0px;
			}
		}
		div.icon{
			.icon;
			padding-top: 5px;
		}

		div.social{
			div.icon{
				.icon;
				padding-top: 0px;
				padding-bottom:10px;
			}
			div.text{
				text-transform: uppercase;
				padding-top: 5px;
			}
		}
		ul{
			margin-bottom: 0px;
			li[name = "menu-contact-lg"]{
				border-right: 2px solid @border-color;
			}
		}

		div.contact{
			div.icon{
				.icon;
			}
			div.text{
				font-size: 16px;
			}
		}
		ul.menu-xs{
			color: @border-gray;
			li{
				text-align: center;
				cursor: pointer;
				width: 50px;
				//background-color: #555;
			}
		}

		div.top-contact-xs{
			display: none;
			div.contact{
				ul{
					@media (max-width: 767px){
					    text-align: center;
					}
				}
			}
		}
		
	}
	div.top-menu{
		@media (mmi-width: 768px){
			padding: 0 15px;
		}
		ul.top-menu-md-lg{
			li{
				background-color: @color-blue;
				border: 2px solid @color-white;
				padding: 10px 35px;
				@media (max-width: 1199px){
					    padding: 10px 20px;
				}
				a{
					color: @color-white;	
					font-size: 16px;
					span{
						color: @color-blue;
					}


				}
				&:hover{
					background-color: @color-red;
					border: 2px solid @color-dark-blue;
					a{
						text-decoration: none;
						span{
							color: @color-red;		
						}
					}	
				}
			}
		}
		ul.top-menu-sm-xs{
			display: none;
			li{
				background-color: @color-blue;
				padding: 10px 35px;
				@media (max-width: 1199px){
					    padding: 10px 20px;
				}
				a{
					color: @color-white;	
					font-size: 16px;
				}
				&:hover{
					background-color: @color-red;
					a{
						text-decoration: none;
					}	
				}
			}
		}
	}	
}
