@border-color: #ccc;
@border-gray: #555;
@color-blue: #51a5d4;
@color-white: #fff;
@color-red: red;
@color-dark-blue: #286090;
@color-dark: #ccc;
@button-order-color: #27ca8b;

@border-radius: 5px;



.top-10{
	margin-top: 10px;
}
.padding-left-0{
	padding-left: 0px;
}

.padding-right-0{
	padding-right: 0px;
}

.padding-right-25{
	padding-right: 25px;
}
.active{
	color: @color-blue;
}
.icon(){
	color: @color-blue;
}

.container-padding(){
	padding: 0 15px;
}


header{
	div.top-header{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		border-left: 1px solid @border-color;
		border-right: 1px solid @border-color;
		border-bottom: 1px solid @border-color;
		border-radius: 0px 0px @border-radius @border-radius;
		@media (max-width: 991px){
			padding-top: 5px;
			padding-bottom: 5px;
		}
		div.logo{
			padding-top: 25px;
			@media (max-width: 991px){
				padding-top: 0px;
			}
		}
		div.icon{
			.icon;
			padding-top: 5px;
		}

		div.social{
			div.icon{
				.icon;
				padding-top: 0px;
				padding-bottom:10px;
			}
			div.text{
				text-transform: uppercase;
				padding-top: 5px;
			}
		}
		ul{
			margin-bottom: 0px;
			li[name = "menu-contact-lg"]{
				border-right: 2px solid @border-color;
			}
		}

		div.contact{
			div.icon{
				.icon;
			}
			div.text{
				font-size: 16px;
			}
		}
		ul.menu-xs{
			color: @border-gray;
			li{
				text-align: center;
				cursor: pointer;
				width: 50px;
				//background-color: #555;
			}
		}

		div.top-contact-xs{
			display: none;
			div.contact{
				ul{
					@media (max-width: 767px){
					    text-align: center;
					}
				}
			}
		}
		
	}
	div.top-menu{
		@media (min-width: 768px){
			.container-padding;
		}
		ul.top-menu-md-lg{
			li{
				background-color: @color-blue;
				border: 2px solid @color-white;
				padding: 10px 35px;
				@media (max-width: 1199px){
					    padding: 10px 20px;
				}
				a{
					color: @color-white;	
					font-size: 16px;
					span{
						color: @color-blue;
					}


				}
				&:hover{
					background-color: @color-red;
					border: 2px solid @color-dark-blue;
					a{
						text-decoration: none;
						span{
							color: @color-red;		
						}
					}	
				}
			}
		}
		ul.top-menu-sm-xs{
			display: none;
			li{
				background-color: @color-blue;
				padding: 10px 35px;
				@media (max-width: 1199px){
					    padding: 10px 20px;
				}
				a{
					color: @color-white;	
					font-size: 16px;
				}
				&:hover{
					background-color: @color-red;
					a{
						text-decoration: none;
					}	
				}
			}
		}
	}	
}
section{
	div.container{
		div.block-slider{
			border: 1px solid @border-color;
			border-radius: @border-radius;

			div.title-slider{
				padding: 5px 10px;
				font-size: 20px;
				@media (max-width: 767px){
				    font-size: 18px;
				}
				@media (max-width: 500px){
				    font-size: 14px;
				}
				font-weight: bold;
			}
			div.image-slider{
				padding-left: 5px;
				border-right: 1px solid @border-color;
			}
			div.block-total{
				padding: 5px;
				font-size: 18px;
				border-bottom: 1px solid @border-color;
				border-right: 1px solid @border-color;
				ul{
					li:last-child{
						margin-left: 20px;
						@media (max-width: 767px){
						    margin-left: 0px;
						}
					}
					li{
						span[name = "total"]{
							font-size: 22px;
							color: @color-red;
						}
						span.rub{
							font-size: 16px;
							color: @color-red;
							margin-left: 5px;	
						}
						button{
							text-transform: uppercase;
							font-size: 18px;
							line-height: 0.8;
							padding: 6px 40px;
							@media (max-width: 767px){
							    padding: 4px 20px;
							    font-size: 16px;
							}
							border-radius: 0px;
							background-color: @button-order-color;
							border-color: @button-order-color;
							span{
								font-size: 10px;
								text-transform: lowercase;
								@media (max-width: 767px){
								    font-size: 8px;
								}
							}
						}
					}
				}
			}

			div.category{
				padding: 40px 70px 40px 0px;
				font-size: 24px;
				@media (max-width: 991px){
				    font-size: 16px;
				}
				@media (max-width: 767px){
				    font-size: 12px;
				}

				@media (max-width: 500px){
				    font-size: 9px;
				}

				

				li{
					cursor: pointer;
					margin-bottom: 20px;
					@media (max-width: 991px){
					    margin-bottom: 10px;
					}
					@media (max-width: 767px){
					    margin-bottom: 3px;
					}
					span.icon{
						font-size:14px;
						vertical-align: 3px;
						@media (max-width: 991px){
						    vertical-align: 1px;
						}
						@media (max-width: 767px){
						    font-size:10px;
							vertical-align: 1px;
						}
					}
					span.price{
						border: 2px solid @color-red;
						font-size: 18px;
						padding: 3px 10px;
						@media (max-width: 991px){
						    font-size: 14px;
						}
						@media (max-width: 767px){
						    font-size: 10px;
						    padding: 1px 5px;
						}
					}
					img.img-category{
						height: 70px;
						@media (max-width: 991px){
						    height: 50px;
						}
						@media (max-width: 767px){
						    height: 40px;
						}
					}
					&:hover{
						span.title, span.icon{
							color: @color-blue;
						}
					}
				}
			}
		}
	}
}
